<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkCallDisplayImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>366201A01D5D59A0000D31F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366201B41D5D59A0000D31F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>366201BF1D5D59A0000D31F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
